<div class="product-item">
    <div class="product-img">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-22060209262RU_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-220602092R42N_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-2206020929443L_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-22060209343A55_cr_600x500.jpg" />
          </div>
        </div>
      </div>
      <div class="swiper mySwiper3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-22060209262RU_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-220602092R42N_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-2206020929443L_cr_600x500.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://anvietdung.com/temp/-uploaded-sanpham-Tu-led_1-22060209343A55_cr_600x500.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="infor">
      <p class="title">Hộp màn hình led cho thuê bằng nhôm đúc ngoài trời p2.976</p>
      <div class="story__product-code">Mã sản phẩm: <span class="code">AVD-1102</span></div>
      <div class="story__price"><span class="number">88,650,000 đ</span></div>
      <div class="story__price">Liên hệ: <span class="number">0973 358666</span></div>
      <div class="support-wrapper">
        <a class="hotline">
          Hotline: <span><i class="ic-call"></i>0915 817778</span>
        </a>
        <a class="chat-now">
          CHAT NGAY <span>Tư vấn qua Zalo</span>
        </a>
      </div>
      <div class="description">
        <span class="title">Mô tả sản phẩm: </span>
        <p class="text">Loa trở kháng thấp với biến áp 100V.</p>
        <p class="text">Âm thanh sắc nét, không bị biến dạng.</p>
        <p class="text">Chất liệu nhựa ABS cùng Lưới tản nhiệt nhôm.</p>
        <p class="text">Đi kèm phụ kiện cần thiết lắp đặt nhanh.</p>
      </div>
    </div>
  </div>
  <div class="infor-product">
    <h3 class="box-heading">
      <a href="#" class="title">Thông tin sản phẩm</a>
      <p></p>
    </h3>
  </div>
  