<div class="product-list">
    <div class="container">
        @@include('../../breadcrumb/breadcrumb.html',{"box-name" : "sản phẩm"})
        <div class="zone">
            @@include('../box-product/box-product.html',{"box-name" : "Âm thanh hội thảo"})
            @@include('../box-product/box-product.html',{"box-name" : "Âm thanh chuyên nghiệp"})
            @@include('../box-product/box-product.html',{"box-name" : "Âm thanh rạp chiếu phim"})
        </div>
        <a href="#" class="btn-view-more">Xem thêm<i class="ic-right"></i></a>
    </div>
</div>