<footer class="site-footer">
    <div class="container">
        <div class="left">
            <a href="#" class="logo">logo</a>
            <div class="social">
                <a href="#"><i class="ic-facebook"></i>facebook</a>
                <a href="#"><i class="ic-youtube"></i>youtube</a>
                <a href="#"><i class="ic-zalo"></i>zalo</a>
            </div>
            <p class="text">© 2024 - Bản quyền thuộc về Công ty TNHH An Việt Dũng</p>
        </div>
        <div class="right">
            <ul class="menu-footer">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Dự án</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#" class="hotline">Hotline: 0915 817778</a></li>
            </ul>
            <p class="text">
                <span class="bold">Địa chỉ: </span>
                Đường Nguyễn Xí - Tân Lâm Hương - Thạch Hà - Hà Tĩnh.
            </p>
            <p class="text">
                <span class="bold">MST: </span>
                3002104313.
            </p>
            <p class="text">
                <span class="bold">Email: </span>
                <a href="#">anvietdungjsc@gmail.com</a>
            </p>
            <p class="text">
                <span class="bold">Hotline: </span>
                <a href="#">0915 817778</a>
            </p>
        </div>
    </div>
</footer>