<h2>
  <center>===== gallery detail =====</center>
</h2>
<div class="article__gallery">
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      @@for (var i = 0; i < 8; i++) {
      <figure class="swiper-slide">
        <img src="https://placehold.co/1170x780" />
      </figure>
      }
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
  <!-- <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      @@for (var i = 0; i < 8; i++) {
      <figure class="swiper-slide">
        <img src="https://source.unsplash.com/featured/960x640?sig=1" />
      </figure>
      }
    </div>
  </div> -->
</div>
