// ----------------------------------
// INFO : global
// ----------------------------------
$gutter-body : 16px !default;
$lg : 1024px;
$xl : 1200px;

:root {
    --gutter-body: 16px;
}

.zce-content-body {
    >* {
        margin-bottom: $gutter-body !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

    table {
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        display: table;
    }

    table[data-zce-type],
    table:not([class]):not([align]) {
        width: 100%;

        td,
        th {
            padding: 5px;
            border: 1px solid #e9ecef;
            text-align: left;
            vertical-align: top;
            font-size: 95%;
            line-height: 1.5;
            border: 1px solid #eee;

            &:empty:after {
                content: "Empty cell";
                visibility: hidden;
                speak: none;
                font-size: 0;
            }
        }
    }

    figure {
        text-align: center;
        width: 100%;
        margin: 0;

        .photo {
            display: block;

            img {
                max-width: 100%;
                // width: auto;
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .notebox {
        &.style-1 {
            background: #0b699e;
            color: #fff;
            border: 1px dashed #fff;
        }

        *.style-2 {
            background: red;
            color: #fff;
            border: 1px dashed #fff;
        }
    }

    .align-center img {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    /* căn outset trái, phải */
    .outset-left {
        width: 50%;
        margin-left: -10%;
        margin-right: $gutter-body;
        float: left;

        @media (min-width: $xl) {
            margin-left: -25%;
        }
    }

    .outset-right {
        width: 50%;
        margin-right: -10%;
        margin-left: $gutter-body;
        float: right;

        @media (min-width: $xl) {
            margin-right: -25%;
        }
    }

    blockquote {
        .photo {
            background: lightblue;
            width: 50%;
            float: left;
            margin-right: $gutter-body;
            margin-bottom: $gutter-body;
        }

        .outset-left {
            left: calc(25%);
            margin: initial;
            margin-right: $gutter-body;
        }

        .outset-right {
            margin: initial;
            margin-left: $gutter-body;
            transform: translateX(0);
            left: 0;
        }

        .author {
            clear: both;
        }
    }

    .notebox {
        .outset-left {
            left: calc(25%);
            margin: initial;
            margin-right: $gutter-body;
        }

        .outset-right {
            margin: initial;
            margin-left: $gutter-body;
            transform: translateX(0);
            left: 0;
        }
    }

    /* max-width, full-width */
    .outset-both {
        margin: 0 -24px;
        width: auto;
    }

    .full-width {
        width: 100vw;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        right: auto;
        display: table;
        width: 100vw;

        //1280
        @include media-breakpoint-up(xl) {
            max-width: calc(100vw - var(--widthScroll));
        }
    }

    .max-width {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1300px;
        width: calc(100vw - 32px);

        //1280
        @include media-breakpoint-up(xl) {
            width: calc(100vw - var(--widthScroll));
        }
    }


    /* căn trái, phải, giữa */
    related-content.align-right,
    .notebox.align-right,
    blockquote.align-right,
    figure.align-right {
        width: 50%;
        float: right;
        margin-left: 20px;
    }

    related-content.align-left,
    .notebox.align-left,
    blockquote.align-left,
    figure.align-left {
        width: 50%;
        float: left;
        margin-right: 20px;
    }

    embed,
    object,
    img,
    video {
        max-width: 100%;
    }

    img {
        height: auto;
    }
}

// ----------------------------------
// INFO : style for mobile
// ----------------------------------
.zce-mobile .zce-content-body {
    width: 360px;
}

.zce-mobile [data-display="mobile"],
.zce-mobile [data-display="desktop"] {
    display: none;
}

.zce-mobile [data-display="mobile"] .zce-Visibility,
.zce-mobile [data-display="desktop"] .zce-Visibility {
    display: none;
}

.zce-mobile .zce-content-body .full-width {
    max-width: 100%;
}

/* max-width, full-width */
.zce-content-body.zce-mobile .full-width {
    max-width: 100%;
}

// css editor
.zce-content-body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        color: var(--primary);
        text-rendering: optimizeLegibility;
        letter-spacing: -0.01em;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        text-decoration: none;
    }

    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover {
        transition: all 0.2s linear;
        opacity: 0.7;
        text-decoration: none;
    }

    h1 {
        font-size: 36px;
        line-height: 1.1;
    }

    h2 {
        font-size: 28px;
        line-height: 1.3;
    }

    h3 {
        font-size: 21px;
        line-height: 1.4;
    }

    h4 {
        font-size: 16px;
        line-height: 1.5;
    }

    ol,
    ul {
        margin-left: 20px;
    }

    li {
        list-style-type: inherit;
    }

    li li {
        font-size: 1em;
    }

    hr {
        position: relative;
        line-height: 1;
        background: 0 0;
        border: none;
        text-align: left;
        margin-top: $gutter-body;
        margin-bottom: $gutter-body;
        height: 10px;
    }

    p {
        margin: 0;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    hr:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        max-width: 100%;
        margin-top: -0.5px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(217, 219, 221, 0.6);
    }

    a {
        color: var(--primary);
        text-decoration: none;
        // background-color: transparent;
        word-break: break-word;
    }
}

// layout img
[class^="layout-image-"] {
    display: grid !important;
    gap: 2px;
    justify-content: center;

    figure {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        width: fit-content;

        &:hover {
            figcaption {
                opacity: 1;
            }
        }

        figcaption {
            transition: 0.5s;
            position: absolute;
            font-size: 16px;
            color: #fff;
            bottom: 0;
            left: 0;
            padding: 10px;
            opacity: 0;
        }
    }
}

.layout-image-2 {
    grid-template-columns: repeat(2, auto);

    figure {
        figcaption {

            // 768
            @include media-breakpoint-up(md) {
                //css
                opacity: 1;
            }
        }
    }

    >figcaption {
        grid-column: 1/3;
    }
}

.layout-image-3 {
    grid-template-columns: repeat(2, auto);

    figure {
        figcaption {

            // 768
            @include media-breakpoint-up(md) {
                //css
                opacity: 1;
            }
        }

        &:first-child {
            grid-column: 1 / 3;
        }
    }

    >figcaption {
        grid-column: 1/3;
    }
}

.layout-image-3-horizontal {
    grid-template-columns: repeat(3, auto);

    >figcaption {
        grid-column: 1/4;
    }
}

.layout-image-4 {
    grid-template-columns: repeat(2, auto);

    figure {
        figcaption {

            // 768
            @include media-breakpoint-up(md) {
                //css
                opacity: 1;
            }
        }
    }

    >figcaption {
        grid-column: 1/3;
    }
}

.layout-image-horizontal {
    grid-template-columns: repeat(4, auto);

    >figcaption {
        grid-column: 1/5;
    }
}

// for layout custom
[class^="layout-image-"] {
    &+[class^="layout-image-"] {
        margin-top: -14px;
    }

    &:has(>figcaption) {
        +[class^="layout-image-"] {
            margin-top: -$gutter-body;
        }
    }
}

// dropcap
.dropcap {
    &::first-letter {
        color: var(--gray-900, #212529);
        font-family: "Playfair Display";
        font-size: 70px;
        line-height: 90%;
        float: left;
        margin-right: 10px;
    }
}

// twentytwenty
.twentytwenty-overlay {

    .twentytwenty-before-label:before,
    .twentytwenty-after-label::before {
        display: none;
    }
}

// style khoảng cách 
$spaceAmounts: (
    10,
    20,
    30,
    40,
    50
);

@each $space in $spaceAmounts {
    .margin-#{$space} {
        margin: #{$space}px;
    }

    .margin-#{$space}-lr {
        margin-left: #{$space}px;
        margin-right: #{$space}px;
    }

    .margin-#{$space}-tb {
        margin-top: #{$space}px;
        margin-bottom: #{$space}px;

    }

    .padding-#{$space} {
        padding: #{$space}px;
    }

    .padding-#{$space}-lr {
        padding-left: #{$space}px;
        padding-right: #{$space}px;
    }

    .padding-#{$space}-tb {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;

    }
}
