<div class="abf-homepage">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-content">
                    <p>Thiết kế - Thi Công</p>
                    <p>hệ thống công nghệ thông tin</p>
                </div>
                <img src="../styles/img/bg-highlight-1.jpg" alt="Image">
            </div>
            <div class="swiper-slide">
                <div class="img-content">
                    <p>Thiết kế - Thi Công</p>
                    <p>điện nhẹ</p>
                </div>
                <img src="../styles/img/bg-highlight-2.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>