.auto-update-content {
    border-radius: 12px;
    border: 1px solid #9EEAF9;
    background: #CFF4FC;
    padding: 16px 16px 18px 16px;
    color: #03596B;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-weight: $font-weight-normal;
    line-height: 160%;
    text-align: center;
}

.live-zone {
    position: relative;
    width: 100%;
    display: grid;
    gap: 30px;

    .sticky-notification {
        border-radius: 6px;
        border: 1px dashed #ffc107;
        background: rgba(255, 193, 7, .2);
        padding: 16px;

        // 768
        @include media-breakpoint-up(md) {
            padding: 20px;
        }

        >* {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .heading {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;

        }

        .text {
            background: transparent;
            padding: 0;
        }

        .content {
            >* {
                margin-bottom: 16px !important;

                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    .wrap-item {
        display: grid;
        gap: 30px;
    }

    .item {
        border-radius: 12px;
        border: 1px solid rgba(152, 7, 0, 0.10);
        background: rgba(204, 71, 49, 0.04);
        padding: 16px;

        // 768
        @include media-breakpoint-up(md) {
            padding: 20px 32px 30px 32px;
        }

        .meta {
            [class*="ic-"] {
                display: none;
            }
        }

    }

    time {
        color: var(--gray-700);
        font-family: var(--font-family-primary);
        font-size: 14px;
        font-weight: $font-weight-normal;
        display: block;
        line-height: 160%;
        margin-bottom: 4px;
    }

    .heading {
        color: var(--gray-900);
        font-family: var(--font-family-second);
        font-size: 24px;
        font-weight: $font-weight-medium;
        line-height: 150%;
        margin-bottom: 16px;
    }

    .content {
        >* {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}