<h2>
  <center>===== Live =====</center>
</h2>
<div class="live-zone">
  <p class="auto-update-content">Tự động cập nhập nội dung mới sau 10s</p>
  <div class="sticky-notification">
    <div class="heading">Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar</div>
    <div class="content">
      <p>
        Trước trận đấu có thể quyết định vé dự vòng play-off Olympic giữa tuyển
        nữ Việt Nam và Myanmar lúc 17h, Zing.vn điểm lại màn so tài gay cấn nhất
        giữa 2 đội trong những năm qua.
      </p>
      <table class="picture max-width">
        <tbody>
          <tr>
            <td class="img">
              <img
                src="https://placehold.co/1920x768"
                alt="1700x394"
              />
            </td>
          </tr>
          <tr>
            <td class="caption">max-with</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wrap-item">
    <div class="item">
      <div class="meta">
        <time> 19:00 ngày 27/02/2020</time>
        <i class="ic-img-live-red"></i>
      </div>
      <div class="wrap-content">
        <div class="heading">
          Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar
        </div>
        <div class="content">
          <strong>support thẻ figure</strong>
          <figure class="outset-right">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure outset-right</figcaption>
          </figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>
          <figure class="outset-left">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure outset-left</figcaption>
          </figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            ut hic, pariatur eaque libero amet tempore iure
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>
          <figure class="align-left">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure align-left</figcaption>
          </figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>
          <figure class="align-right">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure align-right</figcaption>
          </figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>
          <figure align="center">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure align="center"</figcaption>
          </figure>
          <figure align="right">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure align="right"</figcaption>
          </figure>
          <figure align="left">
            <img
              src="https://placehold.co/700x394"
              alt=""
            />
            <figcaption>figure align="left"</figcaption>
          </figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            exercitationem est culpa maxime quam doloribus repudiandae ea earum
            magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
            provident eius sequi, illum dignissimos tenetur. Assumenda, hic ad
            dicta inventore eos vero soluta neque voluptates at deserunt
            molestiae illo maxime. Perspiciatis quidem eos quaerat dolor
            accusantium quia illum, ratione iste, ex repellendus sit iusto
            excepturi dicta tempore laborum voluptates non ipsum? Deleniti
            dolores est iste expedita sequi quam, quos quas, ipsam facilis
            voluptatum esse non qui aliquid ut atque voluptatibus molestias
            aspernatur. Iure incidunt rem illo ad maiores nulla at eos tenetur,
            repudiandae amet suscipit perferendis magni quis?
          </p>

          <table class="picture full-width">
            <tbody>
              <tr>
                <td class="img">
                  <img
                    src="https://placehold.co/1024x400"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">full-width</td>
              </tr>
            </tbody>
          </table>
          <table class="picture max-width">
            <tbody>
              <tr>
                <td class="img">
                  <img
                    src="https://placehold.co/1024x400"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">max-width</td>
              </tr>
            </tbody>
          </table>
          <table class="outset-left">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>outset-left</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="outset-right">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>outset-right</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="align-left">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>align-left</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="align-right">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>align-right</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="left">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>align="left"</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="right">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>align="right"</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center">
            <tbody>
              <tr>
                <td>
                  <img
                    src="https://placehold.co/700x394"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="caption">
                  <p>align="center"</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="meta">
        <time> 19:00 ngày 27/02/2020</time>
        <i class="ic-img-live-red"></i>
      </div>
      <div class="wrap-content">
        <div class="heading">
          Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
            similique earum nihil hic neque ea distinctio! Veritatis quia
            placeat obcaecati nesciunt amet adipisci nam distinctio dolor illum
            eligendi? Et, adipisci!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
