<div class="zone-5">
    <div class="container">
        <div class="box-heading">
            <span class="title">
                Đối tác của chúng tôi
            </span>
        </div>
        <div class="box-content">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-01.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-02.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-03.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-04.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-05.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-06.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-07.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-08.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-09.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-10.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-11.jpg" alt="Image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../styles/img/partner/partner-12.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>