<header class="site-header">
    <div class="sticky">
        <div class="container">
            <a href="index.html" class="logo">logo</a>
            <ul class="menu">
                <li><a href="#" class="active">Trang chủ</a></li>
                <li><a href="#">Dự án</a></li>
                <li><a href="#">Sản phẩm</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Thiết bị âm thanh</a>
                        </li>
                        <li>
                            <a href="#" class="active">Thiết bị trình chiếu</a>
                        </li>
                        <li>
                            <a href="#">Thiết bị báo gọi y tá</a>
                        </li>
                        <li>
                            <a href="#">Thiết bị mạng</a>
                        </li>
                        <li>
                            <a href="#">Thiết bị an ninh</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#" class="hotline">Hotline: 0915 817778</a></li>
            </ul>
            <div class="search-wrapper">
                <i class="ic-search"></i>
                <i class="ic-close"></i>
                <input type="text" class="search txtsearch" placeholder="Nhập từ khóa">    
            </div>
        </div>
    </div>
</header>