<div class="box-product">
  <div class="box-heading">
    <span class="title"> @@box-name </span>
  </div>
  <div class="box-content">
    @@for ( var i=0; i < 8; i++) {
    <article class="story">
      <figure class="story__thumb">
        <a href="#" title="">
          <img
            src="https://placehold.co/270x195"
            alt="270x195 (4x3)"
        /></a>
      </figure>
      <div class="story__heading">
        <a href="#"> Hộp màn hình led cho thuê bằng nhôm đúc p3 ngoài trời </a>
      </div>
      <div class="story__product-code">Mã sản phẩm: <span class="code">AVD-1102</span></div>
      <div class="story__price">Giá: <span class="number">88,650,000 đ</span></div>
      <div class="story__price">Liên hệ: <span class="number">0973 358666</span></div>
    </article>
    }
  </div>
</div>