.zone-1 {
    padding: 60px 0;
    background: url(../img/bg-zone-1.jpg?030624) center center /cover no-repeat;

    .box-content {
        display: grid;
        grid-template-columns: 480px 1fr;
        column-gap: 30px;

        @include media-breakpoint-down(md) {
            grid-template-rows: 480px 1fr;
            row-gap: 30px;
            grid-template-columns: none;
        }

        .img-intro {
            background: url(../img/img-intro.jpg?030624) center top/100% no-repeat;
        }

        .right {
            p {
                color: var(--gray-900, #141414);
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .highlight {
                color: var(--primary);
                font-size: 18px;
                font-weight: 600;
            }

            .text {
                display: flex;
                align-items: flex-start;
                gap: 8px;

                i {
                    margin-top: 5px;
                    color: #FF8800;

                    &::before {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

.zone-2 {
    padding: 60px 0;
    background: #F4F7FA;

    .container {
        display: grid;
    }

    .box-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @include media-breakpoint-down(md) {
            column-gap: 16px;
        }

        .story {

            &__thumb {
                margin-bottom: 12px;

                a {
                    padding-bottom: calc(2 / 3 * 100%);
                }
            }


            &__heading a {
                font-size: 18px;
                font-weight: 600;
            }

            &__summary {
                font-size: 15px;
                font-weight: 300;
                color: var(--summary);
                max-height: 90px;
                // --
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }

    .btn-view-more {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: none;
        transition: all 0.3s;
        justify-self: end;

        i {
            font-weight: 600;

            &::before {
                font-size: 20px;
            }

        }

        &:hover {
            gap: 16px;
        }
    }
}

.zone-3 {
    padding: 60px 0;
    background: url(../img/bg-zone-3.jpg?030624) center center /cover no-repeat;

    .box-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        padding: 0 280px;
        font-weight: 700;
        margin-bottom: 80px;

        @include media-breakpoint-down(md) {
            padding: 0 90px;
            margin-bottom: 40px;
        }

        .main-title {
            color: var(--gray-900);
            font-size: 30px;
        }

        .sub-title {
            color: var(--secondary, #ED342E);
            font-size: 20px;
        }
    }

    .box-content {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           row-gap: 30px;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;


            i {
                color: var(--primary);
                margin-bottom: 24px;

                &::before {
                    font-size: 40px;
                }
            }

            .title {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 8px;
                text-align: center;

                // @include media-breakpoint-down(md) {
                //     font-size: 16px;
                // }
            }

            .intro {
                font-size: 18px;
                color: var(--summary);

                // @include media-breakpoint-down(md) {
                //     font-size: 14px;
                // }
            }
        }
    }
}

.zone-4 {
    padding: 60px 0;
    background: #F4F7FA;

    // .box-heading {
    //     .title:hover {

    //     }
    // }

    .box-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 30px;

        @include media-breakpoint-down(md) {
            // grid-template-columns: repeat(3, 1fr);
            // row-gap: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .story {
                width: 230px;
            }
        }

        .story {
            position: relative;
            border: 1px solid #FFF;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            padding-bottom: 40px;

            &__thumb {
                margin-bottom: 12px;

                a {
                    padding-bottom: calc(2 / 3 * 100%);
                }
            }


            &__heading {
                justify-content: center;
                padding: 0 10px;

                a {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &__summary {
                padding: 0 10px;
                font-size: 14px;
                font-weight: 300;
                color: var(--summary);
                min-height: 88px;
                // --
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .btn-view-more {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                font-size: 16px;
                font-weight: 500;
                background: var(--primary);
                color: #fff;
                text-decoration: none;
                transition: all 0.3s;
                position: absolute;
                bottom: 0;
                width: 100%;

                &:hover {
                    border: 1px solid var(--primary);
                    color: var(--primary);
                    background: #fff;
                }
            }
        }
    }
}

.zone-5 {
    padding: 60px 0;
    background: #fff;

    .container {
        width: 100%;
        padding: 0 88px;
    }

    .box-heading .title {
        color: var(--gray-900) !important;
        font-size: 36px !important;
    }

    .box-content {
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    width: 270px !important;
                    border: 1px solid var(--border-color);
                    background: #FFF;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.zone-6 {
    padding: 60px 0;
    background: #F4F7FA;

    .box-content {

        .row {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .bold {
                font-weight: 500;
            }

            .title {
                font-size: 18px;
                color: var(--primary);
                text-transform: uppercase;
                font-weight: 700;
                display: flex;
                padding: 12px 16px;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-bottom: 1px solid var(--border-color);
            }

            &:nth-child(2) {
                display: grid;
                grid-template-columns: 390px 1fr;
                gap: 30px;

                @include media-breakpoint-down(md) {
                    grid-template-columns: none;
                }

                >* {
                    overflow: hidden;
                    border-radius: 10px;
                    border: 1px solid var(--border-color);
                }
            }
        }

        .text {
            color: var(--gray-900);
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .left {
            background: #fff;
            height: fit-content;

            .content {
                padding: 16px 20px 20px 20px;

                .note {
                    color: var(--secondary);
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 16px;
                }

                .form-field {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        label {
                            position: absolute;
                            background: #fff;
                            top: -9px;
                            left: 16px;
                            padding: 0 4px;
                            font-size: 13px;

                            span {
                                color: var(--secondary);
                            }
                        }

                        input {
                            padding: 12px 16px;
                            border-radius: 8px;
                            border: 1px solid var(--border-color);
                            background: #FFF;
                            font-size: 16px;

                            &:focus {
                                border: 1px solid var(--gray-900);
                            }
                        }

                        ::placeholder {
                            color: var(--gray-600);
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }

                }

                .btn-send {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48px;
                    border-radius: 8px;
                    background: var(--secondary);
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-top: 20px;
                    transition: all 0.3s;

                    &:hover {
                        border: 1px solid var(--secondary);
                        color: var(--secondary);
                        background: #fff;

                    }
                }
            }
        }

        .right {
            .content {
                height: fit-content;
            }
        }
    }
}

.zone-1,
.zone-2,
.zone-3,
.zone-4,
.zone-5,
.zone-6 {
    @include media-breakpoint-down(md) {
        padding: 40px 0;
    }
}